<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="creationForm" (ngSubmit)="onSubmit()">
        <label class="label">Title</label>
        <div class="form-control">
          <input class="input" type="text" formControlName="title">
        </div>
        <label class="label">Tag</label>
        <div class="form-control">
          <input class="input" type="text" formControlName="tag">
        </div>
        <!-- <div class="formGroup" formControlName="tag">
    <select>
      <option *ngFor="let tag of filteredTags; let i = index" [value]="filteredTags[i]"> {{filteredTags[i]}}  </option>
    </select>
  </div> -->
        <div class="input-group">
          <input type="text" class="form-control" aria-label="Text input with dropdown button">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Dropdown</button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
        <label class="label">Log text</label>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Example textarea</label>
          <textarea class="form-control" formControlName="text" rows="3"></textarea>
        </div>
        <div>
          <button type="submit" class="primary">submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
form.value {{creationForm.value | json}}
